$app-bg-color: #337ab7;
$app-text-color: #fff;

header.navbar{
	box-shadow: 0px 1px 5px #888888;
	background-color: $app-bg-color;
	color: $app-text-color;
}

header a{
	color: $app-text-color;
	font-weight: bold;
}

.no-padding{
	padding: 0;
}

header .icon-bar{background-color: white;}
.nav > li > a:hover, .nav > li > a:focus{background-color: #0468BD}
