.profile-label{
	padding: 10px 0;
	font-size: 16px;
}

.profile-label i{
	cursor: pointer;
}

.align-center{
	text-align: center;
}

.modal-body .row div .fa {
	position: absolute;
	padding: 10px 10px;
	pointer-events: none;
}

.my-review{
	padding: 30px;
	background-color: #F2F5F5;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin: 10px 0;
}
.profile-links{
	padding: 2px 0;
	font-size: 24px;
	font-weight: normal;
	word-break: break-all;
	text-align: center;
}

.profile .fa-twitter{
	color: #00ACFF;
}

.profile .fa-youtube{
	color: #FF0023;
}
