.profile-label{
	padding: 10px 0;
	font-size: 16px;
}

.profile-label i{
	cursor: pointer;
}

.align-center{
	text-align: center;
}

.modal-body .row div .fa {
	position: absolute;
	padding: 10px 10px;
	pointer-events: none;
}

.profile-links{
	padding: 2px 0;
	font-size: 14px;
	font-weight: normal;
	word-break: break-all;
}

.profile .fa-twitter{
	color: #00ACFF;
}

.profile .fa-youtube{
	color: #FF0023;
}



