.no-padding{padding:0}
.fire-icon{color:#9C2A00}
.review-icon{ color:#0DC1DE}
.section-header{
  label{font-size: 24px; padding: 10px 20px}
}

.gadgets-section{
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 3px solid #dcdcdc;

}
.hot-gadgets{
  display: table;
  .gadget{
    display: table-cell;
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 0;
    .gadget-name{ font-size: 18px; padding: 10px}
    .gadget-cat{
      background-color: #07ABAB;
      margin-top: 0;
      padding: 10px;
    }
  }
}

.top-reviewers{
  .reviewer{
    border: 2px solid #ddd;
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 0;
    .reviewer-name{
      margin-top: 10px;
    }
  }
}
